@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    transition: all .5s ease;
    font-family: 'Open Sans';
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
h1{
    font-family: 'Sen';
}
nav{
    background-color: #232536;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    animation-name: navbar-nav;
    animation-duration: 4s;
    animation-timing-function: ease;
}
.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.navbar-nav a{
    text-decoration: none;
}
 .login{
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 700;
    background-color: #FFD050;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
}
.login h2{
    font-size: 16px;
}

.user i{
    font-size: 24px;
}
.login:hover{
    background-color: #FFD050;
}
.logo h1{
    color: white;
}
ul{
    list-style: none;
}
.links{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.links a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: 'Inter';
    transition: all .8s ease;
}
.links a:hover{
    color: #FFD050;
}
.hero{
    padding-top: 50px;
}
.hero h1{
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
    color: #607D8B;
    padding-bottom: 10px;
}
.hero p{
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    padding-bottom: 30px;
}
.hero button{
    padding: 10px 30px;
    border-radius: 16px;
    background-color: #FFD050;
    color: white;
    border: none;
    font-size: 18px;
    margin-bottom: 50px;
}
.hero h2{
    color: #607D8B;
    padding: 15px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    margin-bottom: 50px;
    font-weight: 500;
}
.block{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 80px;
}
.box{
    position: relative;
    border: 1px solid #D9D9D9;
    width: 250px;
    padding: 40px 30px 20px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}
.box-img{
    border-radius: 50%;    
    overflow: hidden;
    background-image: url('https://www.upwork.com/profile-portraits/c1-v1ZeKh47Tz_chYjohaeAiOdfYV6DwBT1MPZFVpRqfT67Fm_rT-CKIyDZgQd50ne');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 15px;
}
.box-img img{
    width: 100%;
}
.price{
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #676767;
    text-align: right;
    padding-left: 80px;
    padding-bottom: 10px;
}
.box h2{
    color: #181818;
    font-size: 24px;
    font-weight: 400;
}
.box .job{
    color: #181818;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 10px;
}
.stars{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.stars i{
    color: #FFD050;
}
.stars p{
    color: #676767;
}
.learnt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: 20px;
}
.know{
    background-color: #E9E9E9;
    border-radius: 20px;
    padding: 10px;
    font-size: 12px;
    color: #676767;
}
.more{
    padding: 10px 30px;
    color: white;
    font-weight: 500;   
    border-radius: 20px;
    background-color: #FFD050;
    border: none;
}
/* Styling footer section */

footer{
    background-color: #232536;
    padding: 20px 20px 0px;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.footer-links{
    display: flex;
    justify-content: space-around;
    color: #c7c7c7;
}
.footer-links p{
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}
.col p:hover{
    text-decoration: underline;
}
.col h2{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 15px;
}
.col h2:hover{
    color: #ffd050;
    cursor: pointer;
}
.footer-foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 30px;
    font-family: 'Inter';
}
.adress{
    color: #c7c7c7;
    font-size: 16px;
    font-weight: 400;
}
.adress p{
    margin-bottom: 10px;
}
.footer-links a{
    text-decoration: none;
    color: #c7c7c7;
}
.social{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
}
.social:hover{
    color: #FFD050  ;
}
.social:hover i{
   transform: scale(1.2);
}
.social p{
    padding: 0;
    font-size: 16px;
}
.social p:hover{
    text-decoration: none;
}
.data{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}
.data p{
    padding: 0;
    margin: 0;
}